.*
*.log
node_modules
/packages/nsis-compat-updater/dist
/packages/nsis-compat-tester/dist
/assets/project/dist_sample
/caches
dist
dist/*
dist_sample
certs

# 빌드 결과물 제외
assets/jikji/dist/
assets/project/dist_sample/
